<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Calcio</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js" integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet" href="css/style.css">
</head>
  <body>
    
    <div id="root">

      <header>
        <select>
          <option
            v-for="(league, index) in leagueNoDupli"
            :key="index"
            :value=""
          >
          {{ team.nome }}
          </option>
        </select>
      </header>

      <div class="contain">

        <div class="soccer_card" v-for="team in teams">

          <!-- QUI CI METTIAMO INDIRIZZO POSTER E NOME SQUADRA NELL'ALT -->
          <img :src="team.poster" :alt="team.nome">
  
          <div>

            <h3>{{team.nome}}</h3>
            <h4>{{team.stadium}}</h4>
            <p>{{team.president}}</p>
            <p>{{team.year}}</p>
            <p>{{team.league}}</p>
            <p>{{team.coach}}</p>
            

          </div>

        </div>

      </div>
      
    </div>

    <script src="js/script.js"></script>
  </body>
</html>
